<div class="container-fluid p-5">
    <div class="d-flex justify-content-between align-items-center">  
      <h1>Dublin bike stations</h1>
      <button class="btn btn-dark" type="button" (click)="refresh()">Refresh data</button>
    </div>
    <h3>Total number of 
      <span class="badge badge-info">stations {{ stations.length }}</span>
      <span class="badge badge-warning ml-2">available bikes {{ availableBikes }}</span>
    </h3>
    <div class="d-flex flex-row mb-3">
      <div class="input-group">
        <input [value]="nameFilter" (input)="nameFilter = $event.target.value.toUpperCase()"
               type="text" class="form-control" placeholder="Station name" aria-label="stationname" aria-describedby="basic-addon1">
      </div>
      <div class="form-check btn btn-info mx-2">
        <input id="availableCheckbox" type="checkbox" (change)="getAvailable()" 
               [checked]="onlyAvailable" />
        <label class="form-check-label ml-2" for="availableCheckbox">
          Show only available
        </label>
      </div>
      <div>
        <button class="btn btn-danger" type="button" (click)="clearFilter()">Clear</button>
      </div>
    </div>
    <table class="table table-striped">
        <thead class="thead-dark">
          <tr>
            <th scope="col">#</th>
            <th scope="col">Name</th>
            <th scope="col">Address</th>
            <th scope="col">Status</th>
            <th scope="col">Bikes</th>
            <th scope="col">Updated</th>
            <th scope="col">Details</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let station of filterStations()">
            <th>{{ station.number}}</th>
            <td>{{ station.name }}</td>
            <td>{{ station.address }}</td>
            <td>{{ station.status }}</td>
            <td>{{ station.available_bikes }}</td>
            <td>{{ formatDate(station.last_update) }}</td>
            <td>
                <a class="btn btn-info" routerLink="/stationdetail/{{station.number}}">View</a>
            </td>
          </tr>
        </tbody>
      </table>
</div>
